.chessBoard {
  margin: 0 auto;
  width: 600px;
  height: 600px;
  border: 7px solid black;
  ;

}

.square {
  width: 73px;
  height: 73px;
  background-color: #e69769 ;
  float: left;
  border: 1px solid black;
  text-align: center;
  font-size: 60px;
}

.squareWhite {
  width: 73px;
  height: 73px;
  font-size: 60px;
  text-align: center;
  background-color: #fff;
  float: left;
  border: 1px solid black;
}
